
<app-loading *ngIf="loading"></app-loading>

<div class="row animated fadeIn" *ngIf="!loading" >
    <div class="col-2">
      <img [src]="artist.images | noimage " class="img-thumbnail img-circle">
    </div>

     <div class="col">
       <h3>{{ artist.name }}</h3>
        <p>
           <a [href]="artist.external_urls.spotify" target="_blank">
              Ir para pagina do artista
           </a> 
        </p>
     </div>

     <div class="col-4 text-right">
       
      <button routerLink="/search" class="btn btn-outline-danger">
        Voltar
      </button>

     </div>

</div>

<div class="row m-5" >
    <div class="col">
        <table class="table">

          <thead>
              <tr>
                  <th>Foto</th>
                  <th>Album</th>
                  <th>Music</th>
                  <th>Vista Previa</th>
              </tr>
          </thead>

          <tbody>
             <tr *ngFor="let track of topTracks">
                 <td>
                     <img [src]="track.album.images | noimage" class="img-thumb">
                 </td>
                 <td>{{ track.album.name}}</td>
                 <td>{{ track.name }}</td>
                 <td>
                     <!--audio [src]="track.preview_url" controls></audio-->
                     <iframe [src]="track.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                 </td>
             </tr>
          </tbody>

        </table>
    </div>
</div>
